<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script src="https://pay.nicepay.co.kr/v1/js/"></script> <!-- Server 승인 운영계 -->


<script>
    // var json = Serveri.orderController(); // JSON
    // var orderId = json.getOrderId();
    // var amount = json.getAmount();
    var orderId = "";
    function serverAuth() {
        AUTHNICE.requestPay({
            clientId: 'S2_fb903ce81792411ab6c459ec3a2a82c6',
            method: 'card',
            orderId: 'ORDER111111123456', //test시 매번 다른 orderId작성
            amount: 1004,
            goodsName: '나이스페이-상품',
            returnUrl: 'http://localhost:8080/payment/verify', //API를 호출할 Endpoint 입력
            fnError: function (result) {
                alert('개발자확인용 : ' + result.errorMsg + '')
            }
        });
    }
</script>

<button onclick="serverAuth()">serverAuth 결제하기</button>

</body>
</html>